[submodule "benchmark/models/attention-is-all-you-need-pytorch"]
	path = benchmark/models/attention-is-all-you-need-pytorch
	url = https://github.com/ailzhang/attention-is-all-you-need-pytorch.git
[submodule "benchmark/models/BERT-pytorch"]
	path = benchmark/models/BERT-pytorch
	url = https://github.com/wconstab/BERT-pytorch
[submodule "benchmark/models/tacotron2"]
	path = benchmark/models/tacotron2
	url = https://github.com/ailzhang/tacotron2.git
[submodule "benchmark/models/pytorch-struct"]
	path = benchmark/models/pytorch-struct
	url = https://github.com/jamesr66a/pytorch-struct.git
[submodule "benchmark/models/pytorch-CycleGAN-and-pix2pix"]
	path = benchmark/models/pytorch-CycleGAN-and-pix2pix
	url = https://github.com/zdevito/pytorch-CycleGAN-and-pix2pix
[submodule "benchmark/models/moco"]
	path = benchmark/models/moco
	url = https://github.com/nickgg/moco.git
[submodule "benchmark/models/pytorch-mobilenet-v3"]
	path = benchmark/models/pytorch-mobilenet-v3
	url = https://github.com/bwasti/pytorch-mobilenet-v3.git
[submodule "benchmark/models/Super-SloMo"]
	path = benchmark/models/Super-SloMo
	url = https://github.com/wconstab/Super-SloMo.git
[submodule "benchmark/models/Background-Matting"]
	path = benchmark/models/Background-Matting
	url = https://github.com/bertmaher/Background-Matting.git
[submodule "benchmark/models/demucs"]
	path = benchmark/models/demucs
	url = https://github.com/zheng-xq/demucs.git
[submodule "benchmark/models/fastNLP"]
	path = benchmark/models/fastNLP
	url = https://github.com/bertmaher/fastNLP.git
[submodule "benchmark/models/LearningToPaint"]
	path = benchmark/models/LearningToPaint
	url = https://github.com/nikithamalgifb/LearningToPaint.git
