[submodule "benchmark/models/attention-is-all-you-need-pytorch"]
	path = benchmark/models/attention-is-all-you-need-pytorch
	url = https://github.com/ailzhang/attention-is-all-you-need-pytorch.git
[submodule "benchmark/models/BERT-pytorch"]
	path = benchmark/models/BERT-pytorch
	url = https://github.com/wconstab/BERT-pytorch
