[submodule "benchmark/models/attention-is-all-you-need-pytorch"]
	path = benchmark/models/attention-is-all-you-need-pytorch
	url = https://github.com/ailzhang/attention-is-all-you-need-pytorch.git
[submodule "benchmark/models/BERT-pytorch"]
	path = benchmark/models/BERT-pytorch
	url = https://github.com/wconstab/BERT-pytorch
[submodule "benchmark/models/tacotron2"]
	path = benchmark/models/tacotron2
	url = https://github.com/ailzhang/tacotron2.git
[submodule "benchmark/models/pytorch-struct"]
	path = benchmark/models/pytorch-struct
	url = https://github.com/jamesr66a/pytorch-struct.git
[submodule "benchmark/models/pytorch-CycleGAN-and-pix2pix"]
	path = benchmark/models/pytorch-CycleGAN-and-pix2pix
	url = https://github.com/zdevito/pytorch-CycleGAN-and-pix2pix
[submodule "benchmark/models/moco"]
	path = benchmark/models/moco
	url = https://github.com/nickgg/moco.git
