sudo: false
language: ruby
rvm:
  - "2.1.8"
  - "2.2.4"
  - "2.3.0"
cache: bundler
gemfile:
  - sprockets2.gemfile
  - sprockets3.gemfile
  - sprockets4.gemfile
env:
  - EXECJS_RUNTIME=Node
  - EXECJS_RUNTIME=      # Rubyracer or rubyrhino depending on platform
matrix:
  exclude:
    - rvm: "2.1.8"
      gemfile: sprockets4.gemfile
    - rvm: "2.1.8"
      gemfile: sprockets3.gemfile
